{{ define "main" }}

<section class="section">
    <div class="container" style="min-height: 47vh;">
        {{if .Params.hidetitle}}
        {{else}}
        {{ with .Title}}
        <h1 class="section-title has-blue-shadow">{{ . }}</h1>
        {{ end }}
        {{ if .Date}}
        <span class="post-date">
            {{ .Date.Format "2006-01-02" }}
        </span>
        {{ end }}
        {{ if .Params.tags }}
        ::
        <span class="post-tags">
            {{ range .Params.tags }}
            #<a href="{{ (urlize (printf "tags/%s/" . )) | absLangURL }}">
                {{- . -}}
            </a>&nbsp;
            {{ end }}
        </span>
        {{ end }}
        {{ end }}
        <br><br>
        <main class="content monospace">{{ .Content }}</main>
        <br><br>
        {{ if .Params.Comments }}
        {{ partial "comments"}}
        {{ end }}
    </div>
</section>
{{ end }}